.center
{
	margin: auto;
	text-align: center;
}

.heading 
{
	font-family: Monoton, cursive;
	font-size: 45px;
}

.color-picker
{
	padding-top: 10px;
	padding-bottom: 15px;
}

.color-picker-label
{
	text-weight: bold;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}