.center
{
	margin: auto;
	text-align: center;
}

.heading 
{
	font-family: Monoton, cursive;
	font-size: 45px;
}

.color-picker
{
	padding-top: 10px;
	padding-bottom: 15px;
}

.color-picker-label
{
	text-weight: bold;
}

.myCanvas
{
	width: 800px;
	height: 600px;
}